<!DOCTYPE html>
<html lang=en>
    <head>
    <title>Exercise 3.4.1 </title>
    <meta charset="UTF-8">
    </head>
    <body>
        <h2>JS Fundamentals</h2>
        <script>
           let text = "Text";
           let number1 = "123";
           let number2 = "23.45";
           let boolean = false;

           console.log(typeof (Text));
           console.log(typeof (number1));       
           console.log(typeof (number2));
           console.log(typeof (boolean));
          </script>
    </body>
</html>