<!DOCTYPE html>
<html lang=en>
    <head>
    <title>Exercise 3.6.1 </title>
    <meta charset="UTF-8">
    </head>
    <body>
        <h2>Exercise 3.6.1</h2>
        <script>
            // add two numbers from the user 
            let userNumber1=parseFloat(prompt("Give me an integer number:)"));
            let userNumber2=parseFloat(prompt("Give me a decimal number"));

            let sum=userNumber1+userNumber2;
            alert("The result is "+sum);

        </script>
    </body>
</html>